@import "tailwindcss";
@layer base {
  :root {
    --color-orange-base: #ff7849; /* Base - Icones, highlihts */
    --color-orange-soft: #ff9a70; /* Mais claro - Hover, interações, destaques secundários */
    --color-orange-muted: #ffb59b; /* Bem claro - Background de badge, detalhe suave, bordas, sombras coloridas */

    --text-primary: #ffffff;
    --text-secondary: #f2f2f2;
    --text-tertiary: #e5e5e5;

    --border-primary: #ffffff;
    --border-orange: #ff7849;
    --border-black: #1e1e1e;

    --color-bg-main: #1e1e1e;
    --color-bg-alt: #181818;
    --color-bg-alt-smooth: #2a2a2a;

    --font-weight-regular: 400;
      --font-weight-medium: 500;
      --font-weight-bold: 700;
  }
}
@layer utilities {
  .fw-regular {
    font-weight: var(--font-weight-regular);
  }
  .fw-medium {
    font-weight: var(--font-weight-medium);
  }
  .fw-bold {
    font-weight: var(--font-weight-bold);
  }

  .text-primary {
    color: var(--text-primary);
  }
  .text-secondary {
    color: var(--text-secondary);
  }
  .text-tertiary {
    color: var(--text-tertiary);
  }

  .icons-orange {
    color: var(--color-orange-base);
  }
  .bg-orange {
    background-color: var(--color-orange-base);
  }
  .border-orange {
    border-color: var(--border-orange);
  }
   .border-white {
    border-color: var(--border-primary);
  }
   .border-black {
    border-color: var(border-black);
  }

  .bg-main {
    background-color: var(--color-bg-main);
  }
  .bg-alt {
    background-color: var(--color-bg-alt);
  }
  .bg-alt-smooth {
    background-color: var(--color-bg-alt-smooth);
  }
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  .animate-blink {
    animation: blink 1s ease-in-out infinite;
  }
}
/* * {
  outline: 1px solid red;
} */
body {
  padding-bottom: env(safe-area-inset-bottom);
  font-family: var(--font-poppins), sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  display: none;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ff7849 #888;
}
