@import "tailwindcss";
@layer base {
  :root {
    --color-orange-base: #ff7849; /* Base - Icones, highlihts */
    --color-orange-soft: #ff9a70;  /* Mais claro - Hover, interações, destaques secundários */
    --color-orange-muted: #ffb59b; /* Bem claro - Background de badge, detalhe suave, bordas, sombras coloridas */

    --color-text-light: #ffffff;   /* Base - Títulos, nome, principais */
    --color-text-soft: #f2f2f2;    /* Suave - Textos secundários, parágrafos */
    --color-text-muted: #e5e5e5;   /* Bem suave - Descrições, labels, detalhes bem suaves */

    --color-bg-main: #1e1e1e;
    --color-bg-alt: #181818;
    --color-bg-alt-smooth: #2a2a2a;
  }
}
@layer utilities {
  .icons-orange {
    color: var(--color-orange-base);
  }
  .bg-orange {
    background-color: var(--color-orange-base);
  }
  .border-icons-orange {
    border-color: var(--color-orange-base);
  }
  .text-title {
    color: var(--color-text-light);
  }
  .text-subtitle {
    color: var(--color-text-soft);
  }
   .text-detail {
    color: var(--color-text-muted);
  }
  .bg-main {
    background-color: var(--color-bg-main);
  }
  .bg-alt {
    background-color: var(--color-bg-alt);
  }
  .bg-alt-smooth {
    background-color: var(--color-bg-alt-smooth);
  }
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  .animate-blink {
    animation: blink 1s ease-in-out infinite;
  }
}
/* * {
  outline: 1px solid red;
} */
body {
  padding-bottom: env(safe-area-inset-bottom);
}

::-webkit-scrollbar {
  width: 8px;
  display: none;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ff7849 #888;
}
